 .card {
    font-family: "Rubik", sans-serif;
    padding: 10px;
    margin: 20px; 
    width: '100%';
    height: auto;
    background:#E5F2F1;
    border: 1px solid lighten(#acacac, 20%);
    border-radius: 10px;
    font-weight: 20px;
    overflow: hidden; 
}